<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="Laboratory" name="filter" />
  <label class="filter-button neumorphism-button" for="Laboratory">Laboratory</label>
  <input type="radio" id="Bioinformatics" name="filter" />
  <label class="filter-button neumorphism-button" for="Bioinformatics">Bioinformatics</label>

  {% for framework in site.data.skills-frameworks %}
    <div skill-type="Laboratory" skill-weight="{{framework.weight}}" data-aos="zoom-in">
      {{framework.name}}
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="Bioinformatics" skill-weight="{{tools.weight}}" data-aos="zoom-in">
      {{tools.name}}
    </div>
  {% endfor %}
</div>
